body {
	margin: 0px;
	width: 100%;
}

.center {
	width: 90%;
	margin: 0px auto;
}

.clear {
	clear: both;
	float: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.form-login{
	border: 1px solid #acacac;
	border-radius: 5px;
	margin: 50px auto;
	padding: 20px;
	width: 35%;
}

.input-group {
	padding: 5px;
	width: 100%;
}

.input-control {
    width: 100%;
    padding: 6px;
    border: 1px solid #97c4b3;
    border-radius: 4px;
}

.btn-login {
	background-color: #32b9b4;
    border: none;
    color: #ffffff;
    padding: 5px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-login:hover {
	color: #97c4b3;
	background: #ffffff;
	border: 0.5px solid #97c4b3;
}

/*---------------Navbar Style--------------------*/
.navbar-me {
	background: #004d99;
	color: #ffffff;
}

.brand {
	margin: 10px 0px;
}

ul.nav-me {
	margin: 10px 0px;
}

.nav-me li {
	list-style: none;
	display: inline;
}

.nav-me a{
	text-decoration: none;
	margin: 5px;
	color: #ffffff;
}

.nav-me a:hover {
	color: #00b3b3;
	text-decoration: none;
}

.nav-me span {
	margin: 5px
}
/*----------------------------------*/